body {
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", Sans-serif;
  background-image: url("background.jpg");
}
div {
  color: #FFCC80;
}
span {
  background-color: #803d03;
  border-radius: 25px;
  transition: background-color 0.7s;
}
span:hover {
  background-color: #c96208;
}
