body {
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arial", Sans-serif;
  background-image: url("backdrop.jpg");
  background-repeat: repeat;
  background-size: 192px 128px;
}
a {
  color: #AAFFAA;
  text-decoration: none;
}
span {
  background-color: #005000;
  border-radius: 9px;
  padding: 0px 5px;
  transition: background-color 0.2s;
}
span:hover {
  background-color: #00BB00;
}
